<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >{{ pageData.title }}
      <ion-note id="subtitle">{{ pageData.subtitle }}</ion-note>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title >{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngFor="let item of pageData.items" >
    <ion-card >
      <ion-card-header>{{ item.header }}</ion-card-header>
      <ion-card-content>{{item.body}}</ion-card-content>
    </ion-card>
  </div>
</ion-content>
